body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
/* Hero section CSS */
.hero_section{
  background-color: #161616;
  width: 1022px;
  height: auto;
  display: flex;
  padding: 0 50px;
  margin-top: 100px;
  border-radius: 30px;
}
.hero_section h1,p,a{
  font-family: 'Poppins', sans-serif;
}
.heading_box h1{
  color: white;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}
.heading_box p{
  color: white;
  margin-bottom: 70px;
  padding-right: 25px;
}
.heading_box a{
  color: white;
  padding: 10px 30px;
  background-color: #DD0000;
  text-decoration: none;
  transition: ease-out 0.5s;
  box-shadow: inset 0 0 0 0 #FEE445;
}
.heading_box a:hover{
  box-shadow: inset 300px 0 0 0 #FEE445;
  color: black;
}

.heading_box{
  width: 50%;
  padding: 38px;
}
.hero_img{
  width: 50%;
}
.hero_img img{
  width: 100%;
  height: 600px;
  margin-top: 60px;
}
/* Hero section CSS END */

/* Blog section css start */

.blogs_section{
  width: 1122px;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

/* nav side menu CSS */
.side_menu{
  width: 25%;
  background-color: #161616;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border-radius: 15px;
}
.side_menu a{
  font-size: 18px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border-radius: 5px;
}
.match{
  padding: 10px 30px;
  background-color: white;
  color: black;
}
.group{
  padding: 10px 67px;
  background-color: white;
  color: black;
}
.blog_button{
  padding: 10px 89px;
  background-color: #DD0000;
  color: white;
}
/* nav side menu CSS END*/

/* blog side CSS start */
.blogs{
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  row-gap: 20px;
  margin-left: 15px;
}
.blog{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}
.blog img{
  width: 275px;
  height: 190px;
}

.blog1{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}
.blog2{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}

.info a{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #161616;
  font-weight: 400;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #161616;
}

.info p{
  font-size: 15px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.info i{
  margin: 0px 5px;
  font-size: 12px;
}
.info {
  padding: 25px 15px;
}

#none{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  /* display: none; */
}
#none a{
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  background-color: #DD0000;
  visibility: hidden;
}
/* blog side CSS END */


/* Blog section CSS END */

.footer-section{
width: 100%;
height: 35vh;
background-color: #161616;
margin-top: 150px;
}
.heading_footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading_footer h1{
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-top: 50px;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.contact p{
  color: #B9B9B9;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
}
hr {
  width: 1122px;
  color: gray;
}
.social{
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  color: white;
  margin-top: 25px;
}
/* footer CSS END  */


/* Upcoming Match CSS Start  */
.padding_div{
  padding: 30px 20px;
}
.image_div{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}
.image_div p {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
.image_div img{
  width: auto;
  height: auto;

}
.info_div h3{
  font-size: 15px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.info_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* upcoming match CSS END  */




















@media screen and (max-width: 576px){

.hero_section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.hero_section h1{
  color: white;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  line-height: 2;
  
}
.hero_section p{
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding: 0%;
}
.button {
display: flex;
justify-content: center;
}

.heading_box {
  width: 100%;
}
.hero_img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.hero_img img{
  margin: 0;
  height: 465px;
  width: 400px;
}
/* blog sec css mobile device */
  .blogs_section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    background-color: white;
  }
  .image_div img{
    height: 100px;
    width: 180px;
  } 
.side_menu{
  background-color: white;
  margin-bottom: 10px;
}
.side_menu a{
  border: 1px solid#161616;
}
.blogs {
  grid-template-columns: repeat(1 , 1fr);
  width: 45%;
  margin: 0;
}
.blog img{
  width: 503px;
  height: 365px; } 
.blog2 img{
  width: 503px;
  height: 365px;
}
#none{
  display: none;
}
/* footer sec responsive start */

.footer-section{
  width: 100%;
  height: auto;
  background-color: #161616;
  margin-top: 100px;
  }
  .contact{
    flex-direction: column;
    gap: 10px;
  }
  .social{
    padding-bottom: 20px;
  }
}


























/* tab responsive */

@media screen and (min-width: 577px) and (max-width:992px) {
  .hero_section{
    width: 80%;
    margin-bottom: 25px;
  }
  .hero_section h1{
    font-size: 50px;
    font-weight: 700;
  }

/* blogs sec responsive */

  .blogs_section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    background-color: white;
    
  }
  .side_menu{
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    width: 80%;
    background-color: white;
    margin-bottom: 25px;
  }
  .side_menu a{
    border: 1px solid#161616;
  }
  .blogs {
    grid-template-columns: repeat(2 , 1fr);
    gap: 30px;
    margin: 0;
  }
  .blog2{
    display: none;
  }
  .blog img{
    width: 413px;
    height: 270px;
  }
  .image_div{
    margin-bottom:0 ;
    margin-top: 32px;
  }
  .image_div img{
    height: auto;
    width: auto;
  }
  .padding_div{
    padding: 0;
  }
  .footer-section{
    margin-top: 60px;
  }
  .info i{
    font-size: 15px;
  }
  #none a{
    visibility:visible ;
  }
}


















/* destop version */
@media screen and (min-width:993) and (max-width:1400) {
  #none {
    visibility: hidden;
  }

}
